@use '../abstracts' as *;

$size: 11vh;

.headerBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headerBar-container {
  display: flex;
  justify-content: space-between;
  background-color: $main-dark-grey;
  color: $background-white;
  height: $size;
}

.headerBar-btn {
  height: $size * 0.7;
}
