@use '../abstracts' as *;

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: $max-width;
  max-height: $max-height;
  background-color: $translucent-white;
  z-index: 1;

  &--inverted {
    background-color: $translucent-black;
  }

  &__container {
    color: $text-white;
    background-color: $main-dark-grey;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;

    &--burger {
      width: 40%;
      padding: 2.5%;
      position: absolute;
      top: 8%;
      right: 12%;
    }

    &--narrow {
      width: 40%;
    }
  }

  &__title-close-btn {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      height: 100px;
      width: 100px;
      border-radius: 15px;
      object-fit: cover;
    }
    &__msg {
      font-family: $body-font;
    }
  }

  &__title {
    font-family: $title-font;
  }

  &__picture-carousel {
    & ul {
      display: block;
    }
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    margin: 0 $page-margin;
    border-radius: 10px;
    background-color: $background-white;
    &__topline {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.carousel.carousel-slider img {
  max-height: 400px;
  object-fit: contain;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $background-white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
