@use '../abstracts' as *;

$size: 8vh;

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $main-dark-grey;
  height: $size;
  min-height: 60px;
}

.navbar__icon-background {
  padding-inline: 15px;
  padding-block: 6px;
  border-radius: 20px;
  max-height: 34px;
  box-sizing: border-box;
}

.--current {
  background-color: $pop-color;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: none;
  color: $text-white;
  & p {
    font-size: small;
    margin: 0;
    padding: 0;
    padding-block-start: 5px;
  }
}
