@use '../abstracts' as *;

.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 100;

  &__btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $main-dark-grey;
    height: $navbar-height;
    min-height: 60px;
  }

  &__icon-background {
    padding-inline: 6px;
    padding-block: 6px;
    border-radius: 20px;
    max-height: 34px;
    box-sizing: border-box;
  }

  &--current {
    background-color: $pop-color;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: none;
    color: $text-white;
    &__text {
      font-size: small;
      margin: 0;
      padding-top: 2px;
    }
  }
}
