@use '../abstracts' as *;

.settingsView {
  overflow-y: auto;
  overflow: hidden;
  font-family: $body-font;
  font-size: $p-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.settingsViewUser {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.settingsViewUserBackground {
  width: 96vw;
  border-radius: 10px;

  margin-block: 5px;
  background-color: $background-light-grey;
}

.settingsViewBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
