@use '../abstracts' as *;

.splash-graphics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__animation {
    transform: rotate(45deg) scale(1.6);
    object-fit: cover;
    width: 170px;
    height: 170px;
  }

  &__logo {
    margin-top: 4px;
  }
}
