@use '../abstracts' as *;

.your-matches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: $body-font;
  font-size: $p-size;
  & p {
    padding-left: 10px;
  }
}

.your-matches__text {
}

.your-matches__background {
  background-color: $background-light-grey;
  width: 96vw;
  height: 20vh;
  border-radius: 10px;
  box-sizing: border-box;
  padding-block: 15px;
  margin-block: 5px;
}
