@use '../abstracts' as *;

.your-matches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: $body-font;
  font-size: $p-size;
  margin: $page-margin $page-margin 0 $page-margin;

  &__text {
    padding-left: 10px;
  }

  &__no-matches {
    padding-left: 10px;
    margin: 0 0 15px;
  }

  &__bubbles {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    padding-inline-start: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__profile {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  &__bubble {
    display: flex;
    margin: 0 6px 10px;
  }

  &__background {
    background-color: $button-blue;
    color: $text-white;
    width: 100%;
    border-radius: 10px;
    margin-block: 5px;
  }
}
