$main-dark-grey: #313742;
$pop-color: #e46472;
$button-blue: #009b9b;
$button-disabled: #bfbfbf;
$dark-blue-contrast: #0e344c;
$text-dark-grey: #313742;
$green-pop: #e46472;
$background-light-grey: #bfbfbf;
$text-white: #ffffff;
$translucent-black: rgba(0, 0, 0, 0.452);
$background-white: #fff;
