$main-dark-grey: #292929;
$pop-color: #ff2c55;
$button-blue: #3bbee8;
$button-disabled: #bfbfbf;
$dark-blue-contrast: #0e344c;
$text-dark-grey: #373737;
$green-pop: #04b000;
$background-light-grey: #bfbfbf;
$text-white: #ffffff;
$translucent-black: rgba(0, 0, 0, 0.452);
$background-white: #fff;
