@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap');

$title-font: 'Satisfy', cursive;
$header-font: 'Nunito', sans-serif;
$body-font: 'Nunito', sans-serif;

// $title-size: ;
// $header-1-size: ;
// $header-2-size: ;
$p-size: 3.8vw;
