@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap');

$title-font: 'Satisfy', cursive;
$header-font: 'Nunito', sans-serif;
$body-font: 'Nunito', sans-serif;

$title-size: 2rem;
$header-large-size: 1.6rem;
$header-medium-size: 1.4rem;
$header-small-size: 1.2rem;
$p-size: 1rem;
$p-small-size: 0.8rem;
