@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap');

$title-font: 'Satisfy', cursive;
$header-font: 'Nunito', sans-serif;
$body-font: 'Nunito', sans-serif;

// $title-size: 8.6vw;
// $header-large-size: 6vw;
// $header-medium-size: 5vw;
// $header-small-size: 4.7vw;
// $p-size: 4.5vw;
// $p-small-size: 3.7vw;

$title-size: 2.4rem;
$header-large-size: 2rem;
$header-medium-size: 1.6rem;
$header-small-size: 1.2rem;
$p-size: 1rem;
$p-small-size: 0.8rem;
