@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.atcb-list {
  width: 100%;
  max-width: 480px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
  position: absolute;
  bottom: 8vh;
  background-color: #fff;
  box-shadow: 0 -4px 4px #fff;
}
.atcb-text {
  display: none;
}
.atcb-icon svg {
  width: 40%;
  max-width: 80px;
  object-fit: cover;
}
.atcb-icon-close {
  width: 40px;
  max-height: 40px;
  object-fit: cover;
}
.atcb-click {
  margin-top: -8px;
  max-height: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
