@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.dogcard {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
}
.dogcard__profile-image {
  width: 90vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  margin: 5vw 5vw 0 5vw;
  display: block;
  border-radius: 10px 10px 0 0;
}
.dogcard__details-container {
  padding: 1em 0.5em;
  margin: auto 5vw;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}
.dogcard__headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dogcard__headline-text__dog {
  margin: 0;
}
.dogcard__headline-text p {
  margin: 0;
}
.dogcard__owner-details {
  display: flex;
  margin: 0;
}
.dogcard__owner-details__text {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dogcard__owner-details__text p {
  margin: 0;
  text-align: right;
}
.dogcard__owner-image {
  width: 13vw;
  height: 13vw;
  object-fit: cover;
  border-radius: 8vw;
  display: inline-block;
}
.dogcard__key-facts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}
.dogcard__key-facts__key-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15vw;
  width: 25vw;
  background-color: #009b9b;
  border-radius: 10px;
  color: #ffffff;
}
.dogcard__key-facts__key-detail p {
  margin: 0;
}
.dogcard__brief-description {
  font-style: italic;
}
.dogcard__swipe-bar {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
  background-color: #e46472;
  margin: 0.5rem auto 0;
  color: #ffffff;
  border-radius: 3rem;
}
.dogcard__details-button {
  display: block;
  margin: 0 auto;
}

.pop-color {
  color: #ffffff;
}

.pop-color-button {
  color: #bfbfbf;
  font-size: 1rem;
  border: none;
  margin: 0;
  background-color: #009b9b;
}
