@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.autocomplete-container {
  width: 60vw;
  display: inline-block;
}

.geoapify-autocomplete-input {
  border: none;
  height: fit-content;
  line-height: normal;
  padding: 5px 25px 5px 10px;
  font-size: 3.8vw;
}

.geoapify-close-button {
  width: 15px;
}
