@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.headerBar {
  position: fixed;
  top: 0;
  width: 100%;
}

.headerBar-container {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  color: #fff;
  height: 11vh;
}

.headerBar-btn {
  height: 7.7vh;
}
