@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.match-preferences {
  background-color: #e2e2e2;
  width: 100%;
  height: 24vh;
  border-radius: 10px;
  box-sizing: border-box;
  padding-block: 15px;
  margin-block: 5px;
}
.match-preferences__text {
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  padding-block: 5px;
}
.match-preferences__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}

.custom-slider {
  /* max width of your slider */
  max-width: 300px;
  min-width: 200px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}
.custom-slider__track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
  /* default color of your track */
  background: #313742;
}
.custom-slider__track.custom-slider__track-0 {
  /* color of the track before the thumb */
  background: #009b9b;
}
.custom-slider__thumb {
  cursor: pointer;
  /*color for the thumb */
  background: #e46472;
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}
.custom-slider__thumb:hover {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.452);
}
