@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #292929;
  height: 7vh;
}

.current {
  background-color: #ff2c55;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6vh;
  height: 5.6vh;
  border-radius: 2.8vh;
}
