@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.navbar__btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #313742;
  height: 8vh;
  min-height: 60px;
}
.navbar__icon-background {
  padding-inline: 6px;
  padding-block: 6px;
  border-radius: 20px;
  max-height: 34px;
  box-sizing: border-box;
}
.navbar--current {
  background-color: #e46472;
}
.navbar__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: none;
  color: #ffffff;
}
.navbar__btn__text {
  font-size: small;
  margin: 0;
  padding-top: 2px;
}
