@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.card {
  position: relative;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.card__profile-image {
  width: 95vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  margin: 5vw auto;
  display: block;
  border-radius: 10px;
}
.card__owner-container {
  display: flex;
}
.card__owner-image {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 8vw;
  display: inline-block;
  margin-right: 3vw;
}
.card__details-container {
  padding: 0 1.9em;
}
.card__details-button {
  display: block;
  margin: 0 auto;
}
