@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.settingsView {
  overflow: auto;
  font-family: "Nunito", sans-serif;
  font-size: 4.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.settingsViewUser {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
.settingsViewUser p {
  padding-inline: 10px;
}

.settingsViewUserBackground {
  width: 96vw;
  border-radius: 10px;
  padding-block: 15px;
  margin-block: 5px;
  background-color: #bfbfbf;
}
