@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.your-matches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  margin: 15px 15px 0 15px;
}
.your-matches p {
  padding-left: 10px;
}
.your-matches h2 {
  padding-left: 10px;
}
.your-matches__no-matches {
  margin: 0 0 15px;
}

.your-matches__bubbles {
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding-inline-start: 5px;
}
.your-matches__bubbles .your-matches__profile {
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.your-matches__bubble {
  display: flex;
  margin: 0 6px 10px;
}

.your-matches__bubbles::-webkit-scrollbar {
  display: none;
}

.your-matches__background {
  background-color: #009b9b;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
  margin-block: 5px;
}
