@use '../abstracts' as *;

.event-details {
  &__images {
    width: 100vw;
  }
  &__details-container {
    padding: 0 3vw;
    &__headlines {
      background-color: $background-light-grey;
      border-radius: 6px;
      padding: 0 1.5vw 5px;
      &__attending {
        width: 100%;
        text-align: center;
        background-color: $pop-color;
        color: $text-white;
        border-radius: 6px;
      }
      &__not-attending {
        width: 100%;
        text-align: center;
        background-color: $main-dark-grey;
        color: $text-white;
        border-radius: 6px;
      }
    }
  }
  &__button-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
