@use '../abstracts' as *;

.register {
  @include login-register;
  & fieldset {
    & #confirmPassword,
    #confirm-password-label {
      margin-bottom: 2vh;
    }
  }
}

.cookieCheck {
  width: 92%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.textBox {
  width: 70%;
}
.checkBox {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  width: 20%;
}

.accept {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
