@use '../abstracts' as *;

.register {
  @include login-register;

  &__fieldset {
    & #confirmPassword,
    #confirm-password-label {
      margin-bottom: 2vh;
    }
  }

  &__cookie-check {
    width: 92%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
  }

  &__text-box {
    width: 70%;
  }

  &__checkbox {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    width: 20%;
  }

  &__accept {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
