@use '../abstracts' as *;

.settings-view {
  overflow-y: auto;
  overflow: hidden;
  font-family: $body-font;
  font-size: $p-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $page-margin;

  &__user {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    &__text {
      text-align: center;
    }
  }

  &__user-background {
    width: 100%;
    border-radius: 10px;
    margin: $page-margin 0 5px;
    background-color: $background-light-grey;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__sign-out {
      margin-top: 3px !important;
    }
  }

  &__profile-btns {
    display: flex;
    flex-direction: row;
  }

  &__button {
    margin: 10px;
    width: 140px;
  }
}
