@use '../abstracts' as *;

.user-profile {
  position: relative;
  width: 100%;
  height: $content-height;
  background-size: cover;
  background-position: center;

  &__profile-image {
    box-shadow: 0 0 8px $box-shadow-grey;
    width: 91.9%;
    max-height: 40vh;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
    margin: $page-margin $page-margin 0;
  }

  &__details-container {
    margin: 0 $page-margin;
    box-shadow: 0 0 8px $box-shadow-grey;
    width: 91.9%;
    padding: 1em 0.5em;
    border-radius: 0 0 10px 10px;
    background-color: $background-white;
    box-sizing: border-box;
  }

  &__headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__headline-text {
    &__dog {
      margin: 0 0 0 2vw;
    }
    & p {
      margin: 0;
    }
  }

  &__owner-details {
    display: flex;
    margin: 0;
    &__text {
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & p {
        margin: 0;
        text-align: right;
      }
    }
  }

  &__owner-image {
    width: 50px;
    object-fit: cover;
    border-radius: 34px;
    display: inline-block;
    margin: 0 2vw 0 0;
  }
  &__key-facts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 4px auto;
    flex-wrap: wrap;
    max-width: 350px;

    &__key-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 60px;
      width: 95px;
      background-color: $button-blue;
      border-radius: 10px;
      color: $text-white;

      & p {
        margin: 0;
      }
    }
  }

  &__brief-description {
    font-style: italic;
    margin: 8px 15px 0;
  }

  &__edit-button {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    &__padding {
      height: 3em;
    }
  }

  &__details-button {
    display: block;
    margin: 0 auto;
  }
}
.pop-color {
  color: $text-white;
}
.pop-color-button {
  color: $background-light-grey;
  font-size: 1rem;
  border: none;
  margin: 0;
  background-color: $button-blue;
}
