@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.events-dashboard__add-events {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 8vh;
  width: 100%;
}
.events-dashboard__add-events-padding {
  height: 35px;
}
.events-dashboard__attending {
  background-color: #ff2c55;
  margin: 1vh 1vw;
  padding: 0.5vh 0.5vw;
  border-radius: 6px;
}
.events-dashboard__attending__title {
  margin: 0 1.5vw;
  color: #ffffff;
}
