@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 6vw;
}
.register__title {
  font-family: "Satisfy", cursive;
  margin-bottom: 2vh;
}
.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__form fieldset {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  border: none;
}
.register__form label {
  width: 20vw;
  min-width: 70px;
}
.register__link {
  margin: 0 4px;
}
.register__redirect {
  margin-top: 2vh;
}
.register fieldset #confirmPassword,
.register fieldset #confirm-password-label {
  margin-bottom: 2vh;
}

.cookieCheck {
  width: 92%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.textBox {
  width: 70%;
}

.checkBox {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  width: 20%;
}

.accept {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
