@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Satisfy&display=swap");
.settings-view {
  overflow-y: auto;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
.settings-view__user {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.settings-view__user__text {
  text-align: center;
}
.settings-view__user-background {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0 5px;
  background-color: #e2e2e2;
}
.settings-view__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-view__btns__sign-out {
  margin-top: 3px !important;
}
.settings-view__profile-btns {
  display: flex;
  flex-direction: row;
}
.settings-view__button {
  margin: 10px;
  width: 140px;
}
