@use '../abstracts' as *;

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 10px 15px;
  overflow-y: scroll;
  overflow-x: unset;

  &__input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2px 0;

    &__label {
      margin: 0 1.5vw;
      color: $text-dark-grey;
      width: 20vw;
    }

    &__input {
      width: 60vw;
      box-sizing: border-box;
    }
  }
}

.edit-form-title {
  margin: 0 5vw;
}
